.debugger-bar {
    position: fixed;
    right: 0;
    bottom: 0;
    color: #333;
    border: 1px solid #c9c9c9;
    background: #EDEAE0;
    min-width: 50px;
    white-space: nowrap;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .15);
    .bar-title {
        cursor: pointer;
        padding: 0 8px;
    }
    .bar-info {
        display: none;
        max-height: 200px;
        overflow-y: auto;
        background: #f9cfa6;
        table {
            border-collapse: collapse;
            td {
                line-height: 20px;
                text-align: left;
                border:1px solid #af5d0d;
            }
        }
        &::-webkit-scrollbar{
            height:6px;
            width:6px;
            margin-right:5px;
            background: #f5f5f5;
            transition:all 0.3s ease-in-out;
            border-radius:0px
        }
        &::-webkit-scrollbar-track { 
            -webkit-border-radius: 0px;
            border-radius: 0px;
        }
        &::-webkit-scrollbar-thumb{
            -webkit-border-radius: 0px;
            border-radius: 0px;
            background: rgba(0,0,0,0.5); 
            &:hover{
                background:rgba(0,0,0,0.6);
            }
            &:active{
                background:rgba(0,0,0,0.8);
            }
            &:window-inactive {
                background: rgba(0,0,0,0.4);
            }
        }
    }
    &:hover {
        opacity: 1;
        transition: opacity 0.1s;
    }
    &.expanded {
        .bar-title {
            .fa-close {
                float: right;
            }
        }
        .bar-info {
            display: block;
        }
    }
}

.debugger-blue-screen {
    .bs-header {
        background: #CD1818;
        color: white;
        font-size: 13pt;
        padding: 1px 25px;
    }
}